<h1>Seja bem vindo ao {{title}}</h1>
<br />
<div class="card" style="width: 18rem;">
  <img [src]="imagem" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{title}} de {{nome}}</h5>
    <p>{{primeiraNota}}</p>
    <p>{{segundaNota}}</p>
    <p>{{terceiraNota}}</p>
    <p>{{quartaNota}}</p>
    <p class="card-text">{{resultado}} {{media | number: '1.1-1'}}.</p>
    <span *ngIf="media >= 7; else elseBlock" class="badge badge-primary">Aprovado</span>
    <ng-template #elseBlock>
      <span class="badge badge-danger">Reprovado</span>
    </ng-template>
  </div>
</div>
<router-outlet></router-outlet>
